<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title + ' - ' if title }} Web Browser API Cookbook</title>
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <style>{% getBundle "css" %}</style>
  </head>
  <body>
    <div id="layout">
      {% include "./components/header.njk" %}
      {% include "./components/sidebar.njk" %}
      <main id="content">
        {{ content | safe }}
      </main>
    </div>
    <script>{% getBundle "js" %}</script>
  </body>
</html>