<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title + ' - ' if title }} Web Browser API Cookbook</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <style>{% getBundle "css" %}</style>
  </head>
  <body>
    {{ content | safe }}
    <script>{% getBundle "js" %}</script>
  </body>
</html>