<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title + ' - ' if title }} Web Browser API Cookbook</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/index.css' | url }}">
  </head>
  <body class="h-screen">
    <div id="layout">
      {% include "./components/header.njk" %}
      {% include "./components/sidebar.njk" %}
      <main id="content">
        {{ content | safe }}
      </main>
    </div>
    <script>{% include "./components/sidebar/nav-group.js" %}</script>
  </body>
</html>