{% macro renderFiles(collection, basedir) %}
  {% for file in collection %}
    {% include basedir + "/" + file.filename %}
  {% endfor %}
{% endmacro %}

{% macro codeBlock(title, language, description, code) %}
  <div class="code-block">
    <h4>
      <div class="title">{{ title }}</div>
      <div class="language {{ language }}">{{ language }}</div>
    </h4>
    <p>{{ description }}</p>
    {% highlight language %}
    {{ code | safe }}
    {% endhighlight %}
  </div>
{% endmacro %}