<div class="demo-page">
  <h2 class="text-cyan-900 text-3xl mb-2">{{ title }}</h2>

  {% if description %}
    <section>
      {{ description | safe }}
    </section>
  {% endif %}

  {% set hasCode = js or html or css %}

  {% if hasCode %}
    <section>
      <h3>Demo</h3>
      <div class="demo">
        <style>{{ css | safe }}</style>
        {{ html | safe }}
        <script>{{ js | safe }}</script>
      </div>
    </section>

    <section>
      <h3>Code</h3>
      {{ code | safe }}
    </section>
  {% endif %}

  {{ content | safe }}
</div>