<div class="demo-page">
  <h2 class="text-cyan-900 text-3xl mb-2">{{ title }}</h2>
  
  {% import 'code-block.njk' as codeBlock %}


  {% set css %}{% include basedir + "/index.css" %}{% endset %}
  {% set html %}{% include basedir + "/demo.html" %}{% endset %}
  {% set js %}{% include basedir + "/index.js" %}{% endset %}

  {% if description %}
    <section>
      {{ description | safe }}
    </section>
  {% endif %}

  <section>
    <h3>Demo</h3>
    <div class="demo">
      <style>
        {{ css | safe }}
      </style>
      {{ html | safe }}
      <script>
        {{ js | safe }}
      </script>
    </div>
  </section>

  <section>
    <h3>Code</h3>
    {{ codeBlock.codeBlock('javascript', js)}}
    {{ codeBlock.codeBlock('html', html)}}
    {{ codeBlock.codeBlock('css', css)}}

  </section>
</div>