<main class="p-4">
  <h2 class="text-3xl">{{ title }}</h2>

  <p>
    {% block description %}{% endblock %}
  </p>

  <div>
    {% block example %}{% endblock %}
  </div>

  <div>
    {% block code %}{% endblock %}
  </div>

  {{ content | safe }}
</main>