<!DOCTYPE html>
<html>
  <head>
    {% import 'code-block.njk' as codeBlock %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title + ' - ' if title }} Web Browser API Cookbook</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/fullscreen.css' | url }}">
    <style>
      {% include basedir + "/index.css" %}
    </style>
  </head>
  <body class="fullscreen">
      <h1>{{ title }}</h1>
      <main>
        {% include basedir + "/demo.html" %}
      </main>
    <script>
      {% include basedir + "/index.js" %}
    </script>
    <script>{% getBundle "js" %}</script>
  </body>
</html>