---
layout: "base.njk"
title: "Matching URL Patterns"
permalink: "/urls-and-routing/url-patterns/"
eleventyNavigation:
  order: 3
  key: urlPatterns
  title: "Matching URL Patterns"
  parent: urlsAndRouting
---

{# {% include "index.js "%} #}

<script src="./index.js"></script>

{% include "demo.njk" %}