<header id="header">
  <button id="nav-menu">
    <span class="material-symbols-sharp">
      menu
    </span>
  </button>
  <h1>
    <a href="/">
      <span class="material-symbols-sharp">
        restaurant_menu
      </span>
      <span>Web Browser API Cookbook</span>
    </a>
  </h1>
  {% set navPages = collections.topNav | eleventyNavigation %}
  {% renderTemplate "webc", {
    items: navPages
  } %}
  <site-top-nav webc:nokeep="webc:nokeep" :items="items"></site-top-nav>
  {% endrenderTemplate %}

  <script>
    const menuButton = document.querySelector('#nav-menu');
    
    menuButton.addEventListener('click', () => {
      const sidebar = document.querySelector('#sidebar');
      sidebar.classList.toggle('open');
      menuButton.classList.toggle('open');

      menuButton.querySelector('.material-symbols-sharp').textContent = 
        menuButton.classList.contains('open') ? 'close' : 'menu';

    });
  </script>
</header>