<header id="header" class="p-4 bg-emerald-800 text-white">
  <h1 class="text-xl font-bold">
    <a class="flex items-center" href="/">
      <img class="h-8 w-8 mr-2" src="/assets/images/kitchen-set-solid.svg">
      <span>Web Browser API Cookbook</span>
    </a>
  </h1>
</header>