<div id="sidebar">
  {% set navPages = collections.demos | eleventyNavigation %}
  <nav>
    <ul>
      {% for item in navPages %}
        {% renderTemplate "webc", { 
            item: item,
            isCurrentGroup: page.url.startsWith(item.url)  
        } %}
        <site-sidebar-nav :isCurrentGroup="isCurrentGroup" :title="item.title" :children="item.children"></site-sidebar-nav>
      {% endrenderTemplate %}
    {% endfor %}
  </ul>
</nav></div>