---
layout: "base.njk"
title: "Remembering an Input Value"
permalink: "/web-storage/color-picker"
eleventyNavigation:
  key: colorPicker
  title: "Remembering an Input Value"
  parent: webStorage
---
{% extends "demo.njk" %}

{% block description %}
  oh hi
{% endblock %}

{# {% include "demo.njk" %} #}

{# <details>
  <summary>JS code</summary>
{% highlight "js" %}
const foo = document.querySelector('#foo');
foo.focus();
{% endhighlight %}
</details>

{% highlight "html" %}
<input type="color" id="foo">
{% endhighlight %} #}