---
layout: "base.njk"
title: "Remembering an Input Value"
permalink: "/web-storage/color-picker"
eleventyNavigation:
  key: colorPicker
  title: "Remembering an Input Value"
  parent: webStorage
---

{% set description %}
  <p>
      Remember a simple input value in local storage.
  </p>
  <ul class="list-disc pl-6">
    <li>The picker tries to read a color from local storage when the page first loads. If one is found, it's set as the default color.</li>
    <li>When the color value changes, it is immediately written to local storage.</li>
  </ul>
{% endset %}

{% set js %}
const colorPicker = document.querySelector('#colorPicker');

// Look for a previously saved color and set it, if found.
const savedColor = localStorage.getItem('savedColor');
if (savedColor) {
  colorPicker.value = savedColor;
}

// When the color is changed, save it to local storage.
colorPicker.addEventListener('change', () => {
  localStorage.setItem('savedColor', colorPicker.value);
});
{% endset %}

{% set html %}
<div class="flex items-center">
  <label class="mr-2" for="colorPicker">Select a color:</label>
  <input type="color" id="colorPicker">
</div>
{% endset %}

{% set javascript %}
  {{ js | safe }}
{% endset %}

{% set exampleCode = [
  { label: 'Form', language: 'html', code: html },
  { label: 'Serialization', language: 'javascript', code: js }
]%}

{% include "demo.njk" %}