---
layout: "base.njk"
title: "Persisting Simple Objects"
permalink: "/web-storage/persisting-objects"
eleventyNavigation:
  key: persistingObjects
  title: "Persisting Simple Objects"
  parent: webStorage
---


{% extends "demo.njk" %}

{% block description %}
  oh hi
{% endblock %}