---
layout: "content-page.njk"
title: "Listening for Storage Changes"
permalink: "/web-storage/storage-events.html"
eleventyNavigation:
  order: 3
  key: storageEvents
  title: "Listening for Storage Changes"
  parent: webStorage
---

{% set description %}
  <p>
    A simplified to-do list that persists its data in local storage.
  </p>
  <ul>
    <li>Enter some text and click "Add" to add a to-do.</li>
    <li>The list only contains incomplete to-dos. When a to-do is marked completed, it is immediately removed.</li>
    <li>The list data will be kept in sync with other browser tabs.</li>
  </ul>

  <p>
    Open <a href="/web-storage/storage-events" target="_blank">this page in a second tab</a>.
    When to-do items are added or removed from a given tab, any other open tabs will be kept in sync. This is done by listening
    for the <code>storage</code> event.
  </p>

  <p>
    Open the JavaScript console to see notifications when storage events are triggered.
  </p>
{% endset %}

{% set css %}
  .todo-form input {
    font-size: 1.2rem;
    padding: 0.5em 0.75em;
    width: 100%;
  }

  #todos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
  }

  .todo {
    color: #07131C;
    display: flex;
    align-items: baseline;
    padding: 0.7em;
    background: #EFF6FB;
    border: 1px solid #63A7D8;
    width: 100%;
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 0.5em 0;
  }

  .todo input {
    margin-right: 0.5em;
    transform: scale(1.3);
    transform-origin: center;
  }
{% endset %}

{% set html %}
<template id="todoTemplate">
  <li class="todo">
    <input class="mr-1" type="checkbox">
    <div class="name"></div>
  </li>
</template>

<div class="wrapper">
  <form class="todo-form">
    <input 
      autofocus 
      name="todo" 
      placeholder="Add a todo and press Enter..."
    >
  </form>

  <ul id="todos"></ul>
</div>
{% endset %}

{% set jsSerialization %}
const storageKey = 'todos';

function saveTodoList() {
  localStorage.setItem(storageKey, JSON.stringify(todoList));
}

function loadTodoList() {
  const list = JSON.parse(localStorage.getItem(storageKey)) || [];

  list.forEach(todo => renderTodo(todo));

  // Listen for changes from other tabs and synchronize our local data
  window.addEventListener('storage', event => {
    // If our to-do list key was changed, replace the current list
    if (event.key === storageKey) {
      console.log('To-do list was changed in another tab');
      todoList = JSON.parse(event.newValue);

      // Remove and re-render all to-do items to match the new data
      while (todoElements.firstElementChild) {
        todoElements.removeChild(todoElements.firstElementChild);
      }

      todoList.forEach(todo => renderTodo(todo));
    }
  });

  return list;
}
{% endset %}

{% set jsOther %}
const todoTemplate = document.querySelector('#todoTemplate');
const form = document.querySelector('form');

const todoElements = document.querySelector('#todos');

let todoList = loadTodoList();

form.addEventListener('submit', event => {
  event.preventDefault();

  const todo = {
    id: Date.now(),
    name: form.elements.todo.value,
    completed: false
  };
  todoList.push(todo);

  saveTodoList();
  renderTodo(todo);

  form.elements.todo.value = '';
});

function removeTodo(element, todo) {
  todoList = todoList.filter(t => t !== todo);
  saveTodoList();
  todoElements.removeChild(element);
}

function renderTodo(todo) {
  const element = todoTemplate.content.cloneNode(true).firstElementChild;

  element.querySelector('.name').textContent = todo.name;
  element.querySelector('input').addEventListener('click', event => {
    if (event.target.checked) {
      removeTodo(element, todo);
    }
  });

  todoElements.appendChild(element);
}
{% endset %}

{% set js %}
{{ jsSerialization | safe }}
{{ jsOther | safe }}
{% endset %}

{% import 'code-block.njk' as codeBlock %}

{% set code %}
  {{ codeBlock.codeBlock(
    'Serialization', 
    'javascript', 
    'Serializes objects to JSON and persists them in local storage. Also listens for the storage event.', 
    jsSerialization) 
  }}

  {{ codeBlock.codeBlock(
    'Additional code', 
    'javascript', 
    'Handles form submission, item rendering, and list updates.', 
    jsOther) 
  }}

  {{ codeBlock.codeBlock(
    'Layout', 
    'html', 
    'User interface for this example.', 
    html) 
  }}
{% endset %}


{% include "demo.njk" %}