---
title: "Parsing URLs"
permalink: "/urls-and-routing/parsing-urls/app/"
---
{% set css %}
  {% include "./index.css" %}
{% endset %}

{% set js %}
  {% include "./index.js" %}
{% endset %}

{% set html %}
  {% include "./template.html" %}
  {% include "./index.html" %}
{% endset %}

{% include "fullscreen.njk" %}