---
layout: "base.njk"
permalink: "/urls-and-routing/parsing-urls/"
---

{% set description %}
  <p>
      Enter a URL and click "Parse URL". The value is passed to the <code>URL</code> constructor, and the component parts of the parsed URL will be shown.
  </p>
{% endset %}

{% include "demo.njk" %}