---
layout: "base.njk"
title: "Simple Routing"
permalink: "/urls-and-routing/simple-router/"
eleventyNavigation:
  key: simpleRouting
  title: "Simple Routing"
  parent: urlsAndRouting
---
{% include '../simple-router.njk' %}