#header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: var(--brand-color);
  padding: 1em;
}

#header #nav-menu {
  display: none;
  color: #ffffff;
  background: transparent;
  padding: 0.25em;
  margin-right: 1em;
  border-radius: 50%;
}

#header #nav-menu.open {
  background: #ffffff;
  color: var(--brand-color);
}

#header #nav-menu .material-icons-round {
  font-size: 2em;
}

#header h1 {
  font-size: 1.2rem;
  flex-grow: 1;
}

#header h1 a {
  text-decoration: none;
  color: #EFF6FB;
  font-weight: bold;
}

#header h1 a:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  #header #nav-menu {
    display: flex;
  }
}