#header {
  grid-area: header;
  background-color: var(--brand-color);
  padding: 1.5em;
}

#header h1 {
  font-size: 1.2rem;
}

#header h1 a {
  text-decoration: none;
  color: #EFF6FB;
  font-weight: bold;
}

#header h1 a:hover {
  color: #FFFFFF;
}
