---
layout: "base.njk"
permalink: "/web-storage/color-picker/"
---

{% set description %}
  <p>
      Remember a simple input value in local storage.
  </p>
  <ul class="list-disc pl-6">
    <li>The picker tries to read a color from local storage when the page first loads. If one is found, it's set as the default color.</li>
    <li>When the color value changes, it is immediately written to local storage.</li>
  </ul>
{% endset %}

{% include "demo.njk" %}
