---
layout: "base.njk"
title: "Parsing URLs"
permalink: "/urls-and-routing/parsing-urls"
eleventyNavigation:
  key: colorPicker
  title: "Parsing URLs"
  parent: urlsAndRouting
---

{% set description %}
  oh hi
{% endset %}

{% include "demo.njk" %}
