---
layout: "base.njk"
---
<main>
  <h1>Web Browser API Cookbook</h1>
  <h2>Demos and Sample Code</h2>

  <p>
    Welcome to the companion website for "Web Browser API Cookbook" by Joe Attardi. This site contains expanded sample code from the various recipes found in the book,
    as well as fully working demos.
  </p>

  <p>
    Get started by exploring the demos, grouped by chapter, in the sidebar.
  </p>
</main>