---
layout: "base.njk"
---

<div id="landing-page">
  <h2>Web Browser API Cookbook</h2>
  <img src="/assets/images/programmer.svg">
  <p>
    Welcome to the companion website for the upcoming book <em>Web Browser API Cookbook</em> by Joe Attardi. 
  </p>
  <p>
    Whether you're an experienced developer or just
    starting out, this site is the perfect complement to the book. With live demos of all the code in the book, you can see
    firsthand how to use the latest web browser APIs to build better web applications. From working with network requests to
    manipulating the DOM, this site has everything you need to take your web development skills to the next level. So grab
    your favorite browser and get ready to explore the world of web browser APIs!
  </p>
  <strong>PLEASE NOTE:</strong>
  <p style="margin-top: 0;">
    The book, and this website, are both works in progress. Functioning examples are being added as the book is written, but
    there may be times where something is broken.
  </p>
  <p>
    If you are having problems with the site or have any questions or feedback, please contact me 
        at
    <a href="mailto:jattardi@gmail.com">jattardi@gmail.com</a>.
  </p>
</div>