---
layout: "base.njk"
---
{% set navPages = collections.topNav | eleventyNavigation %}
<div id="landing-page">
  <header>
      {% renderTemplate "webc", {
        items: navPages
      } %}
        <site-top-nav webc:nokeep :items="items"></site-top-nav>
      {% endrenderTemplate %}
    <div class="titles">
      <h1>Web Browser API Cookbook</h1>
      <h2>Joe Attardi</h2>
      <h3>Example Code and Demos</h3>
      <a href="/demos/index.html" class="cta">Get Started</a>
    </div>
  </header>
  <main id="landing-page">

  </main>
</div>